
.container_all{
  display: inline-block;
  margin: 20px auto;
  height: auto;

}
.container{
  width: calc(33% - 6px);
  overflow:hidden;
  height: fit-content;
  margin:3px;
  padding: 0;
  display:block;
  position:relative;
  float:left;
} 

.img{
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
}
.title{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}
.text{
  position:absolute;
  top: 70%;
  cursor:pointer;
  max-width: 80%;
  text-align:center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display:none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%);
}
.container:hover img{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(60%);
  opacity: .7;
}
.container:hover span{
  color:white;
  display: block;
  transition-duration: .3s;
}
@media only screen and (max-width: 900px) {
    .container {
        width: calc(50% - 6px);
    }
}
@media only screen and (max-width: 400px) {
    .container {
        width: 100%;
    }
}
/* 
.container-all {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: blue;
  padding: 10px;
}
.container {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px dashed;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: orange;
} */


.menu { width: 25%;
  float: left;}

.main {width: 75%;
  float: left;}

.col-1 {width: 8%}

.col-2 {width: 17%}

.col-3 {width: 25%}

.col-4 {width: 33%}

.col-5 {width: 42%}

.col-6 {width: 50%}

.col-7 {width: 58%}

.col-8 {width: 57%}

.col-9 {width: 75%}

.col-10 {width: 83%}

.col-11 {width: 92%}

.col-12 {width: 100%}

/* [class* = "col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
} */

.row:after {
  content: "";
  clear: both;
  display: table;
}